@font-face {
  font-family: 'SolaimanLipi';
  src: url('SolaimanLipi.eot');
  src: url('SolaimanLipi.woff') format('woff'),
       url('SolaimanLipi.ttf') format('truetype'),
       url('SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
       url('SolaimanLipi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@media only screen and (min-width:992px) and (max-width:1199px) {
	/*	banner part*/
	#banner_slider1 .slick-current>.banner_lay {
		transform: translateY(-205px);
	}
	.banner_lay h4 {
		font-size: 18px;
	}
	.sl {
		height: 330px;
	}
	#banner_slider2 .slick-slide {
		height: 72px;
	}
	/*	banner part*/
	/*	movie trailer part*/
	.modal {
		top: 10px;
	}
	.modal-dialog {
		width: 600px;
	}
	/*	movie trailer part*/
	/*	upcoming movie part*/
	.upcoming_lay a {
		padding: 5px 6px;
		font-size: 12px;
		top: 44%;
		left: 19%;
	}
	.upcoming li {
		height: 186px;
	}
	/*	upcoming movie part*/
	/*movies part*/
	.latest_item {
		height: 240px;
	}
	.latest_layer a {
		padding: 7px 8px;
		font-size: 11px;
	}
	/*movies part*/
	/*	movie news part*/
	.news_item .news_details h3 {
		font-size: 19px;
	}
	/*	movie news part*/
	/*	sidepart part*/
	.box_office_item ol li span {
		padding-right: 14px;
	}
	.box_office_item ol li {
		font-size: 13px;
	}
	.box_office_item h6 a {
		padding-top: 10px;
	}
	#editors_details {
		width: 120px;
		padding-left: 8px;
	}
	#editors_image img {
		width: 70px!important;
	}
	#editors_details h4 {
		font-size: 14px;
		color: #000;
		font-weight: 700;
		padding-bottom: 10px;
	}
	#editors_image {
		height: 69px;
		width: 69px;
	}
	/*	sidepart part*/
}

@media only screen and (min-width:768px) and (max-width:991px) {
	/*	menu part*/
	#menu_icon li a i {
		font-size: 28px;
	}
	/*	menu part*/
	/*	banner part*/
	#banner_slider1 .slick-current>.banner_lay {
		transform: translateY(-250px);
	}
	.banner_lay h4 {
		font-size: 14px;
	}
	.banner_lay p {
		font-size: 9px;
	}
	.banner_lay {
		padding: 10px 8px;
	}
	.sl {
		height: 250px;
	}
	#banner_slider2 .slick-slide {
		height: 49px;
	}
	/*	banner part*/
	/*	movie trailer part*/
	.modal {
		top: 10px;
	}
	.modal-dialog {
		width: 525px;
	}
	/*	movie trailer part*/
	/*	upcoming movie part*/
	.movie_trailers h2,
	.upcoming_movie h2,
	.movie_news h2 {
		text-transform: uppercase;
		font-weight: 300;
		color: #ba0000;
		padding: 24px 0 14px;
		font-size: 29px;
	}
	.upcoming_lay a {
		color: #000;
		position: absolute;
		text-decoration: none;
		background-color: #ffce00;
		padding: 5px 5px;
		font-size: 9px;
		font-weight: 700;
		top: 42%;
		left: 18%;
	}
	.upcoming li {
		height: 137px;
	}
	.bttop {
		right: 120px;
	}
	/*	upcoming movie part*/
	
	/*movies part*/
	.latest_item {
		height: 178px;
	}
	.latest_layer a {
		padding: 6px 5px;
		font-size: 8px;
	}
	/*movies part*/
	/*	header logo part*/
	.header_logo_part .search_bar input {
		width: 420px;
	}
	#logo_part img {
		padding: 1px 0;
	}
	/*	header logo part*/
	/*	sidebar part*/
	.sidebar h2 {
		margin-left: 8px;
		font-size: 16px;
	}
	.box_office_item {
		margin-left: 22px;
	}
	.box_office_item ol li {
		font-size: 13px;
	}
	.box_office_item ol li span {
		padding-right: 7px;
	}
	.storise_item {
		padding: 8px;
	}
	#editors_image {
		height: 60px;
		width: 60px;
	}
	#editors_details {
		width: 74px;
		padding-left: 5px;
	}
	#editors_details h4 {
		font-size: 10px;
		padding-bottom: 10px;
	}
	#editors_details h6 {
		font-size: 9px;
	}
	#editors_item {
		padding: 8px 0 8px 8px;
	}
	/*	sidebar part*/
}

@media only screen and (min-width:526px) and (max-width:767px) {}

@media only screen and (min-width:200px) and (max-width:767px) {}

@media only screen and (min-width: 400px) and (max-width:526px) {}

@media only screen and (max-width: 400px) {}

@media only screen and (max-width: 319px) {}
