
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
*,
h1,
h2,
h3,
h4,
h5,
h6 {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.clr {
	clear: both;
}

/*basic css end*/
/*common css*/
.main_content {
	padding-left: 8px;
}
.contant_heading {
	padding-left: 6px;
	padding-right: 6px;
}
/*header css start*/
.header_date_part {
	background-color: #000000;
	color: #fff;
	padding: 4px 0;
}
#register a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	transition: all 0.2s linear;
}
#register a:hover {
	color: #ffce00;
}
#userid a {
	color: #ffce00;
	text-decoration: none;
	font-size: 12px;
}
#userid i {
	padding: 1px;
	font-size: 15px;
	color: #fff;
}
.dat_time {
	font-size: 12px;
	color: #000;
	padding-top: 10px;
}
.header_logo_part {
	background-color: #ffce00;
	padding: 13px 0;
}
.header_logo_part .search_bar input {
	width: 545px;
	height: 41px;
	position: relative;
	border: inherit;
	display: none;
	padding-left: 15px;
	color: #919190;
	font-size: 12px;
}
.header_logo_part .search_bar i {
	position: absolute;
	background-color: #fff;
	height: 41px;
	    line-height: 41px;
    width: 45px;
    text-align: center;
	top: 0px;
	right: 0px;
	font-size: 23px;
	color: #bdbdbd;
}
.header_logo_part .search_bar i:hover {
	cursor: pointer;
}
.header_menu_part {
	background-color: #ebebeb;
}
.header_menu_part .navbar-default{
	margin: 0;
	background-color: inherit;
	border: inherit;
}
.header_menu_part .menu_item li {
	padding: 1px 0;
	transition: all 0.2s linear;
}
.header_menu_part .menu_item li>a {
	position: relative;
	border-bottom: 3px solid transparent;
	font-size: 14px;
	color: #000;
/*	padding: 12px 20;*/
}
.header_menu_part .menu_item li>a:after {
	position: absolute;
	content: "";
	height: 20px;
	width: 1px;
	background-color: #bcbcbc;
	top: 15px;
	right: 0;
}
.header_menu_part .menu_item li:last-child>a:after {
	display: none;
}

.header_menu_part .menu_item li a:hover {
	border-bottom: 3px solid #ba0000!important;
	cursor: pointer;
}
.header_menu_part .menu_item .active {
	border-bottom: 3px solid #ba0000!important;
}
#nav_button li a {
	    background-color: #ba0000;
    color: #fff;
    padding: 17px;
    margin-left: 2px;
	transition: all 0.3s linear;
}
#nav_button li a:hover {
	background-color: rgba(186, 0, 0, 0.85);
}
#menu_icon li {
	padding: 10px 1px;
}
#menu_icon li a {
	padding: 0px;
}
#menu_icon li a i {
	font-size: 33px;
}
.news_share ul li:nth-child(1) a i,
.movie_share ul li:nth-child(1) a i,
#menu_icon li:nth-child(1) a i {
	color: #3b5998;
}
.news_share ul li:nth-child(2) a i,
.movie_share ul li:nth-child(2) a i,
#menu_icon li:nth-child(2) a i{
	color: #00b6f8;
}
.news_share ul li:nth-child(3) a i,
.movie_share ul li:nth-child(3) a i,
#menu_icon li:nth-child(3) a i{
	color: #d30000;
}
.news_share ul li:nth-child(4) a i,
.movie_share ul li:nth-child(4) a i,
#menu_icon li:nth-child(4) a i{
	color: #1578d5;
}
.news_share ul li:nth-child(5) a i,
.movie_share ul li:nth-child(5) a i,
#menu_icon li:nth-child(5) a i{
	color: #8a3ab9;
}
/*header css end*/
/*title slider css start*/
.title_slider marquee {
	padding: 17px 0;
	font-size: 15px;
    color: #000;
    font-weight: 700;
}
.title_slider marquee a {
	margin-right: 30px;
	color: #000;
	text-decoration: none;
}
.title_slider marquee a:hover {
	color: #d30000;
}
/*title slider css end*/
/*full section css start*/
#full_container {
	padding-top: 40px;
}
.main_container .slick-next,
.main_container .slick-prev {
	position: absolute;
	z-index: 3;
	background-color: #aaaaaa;
	font-size: 0;
	height: 30px;
	width: 30px;
}
.banner_slider .slick-next {
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.banner_slider .slick-prev {
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.home_gphoto .slick-next,
.upcoming_movie .slick-next,
.movie_trailers .slick-next {
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
}
.home_gphoto .slick-prev,
.upcoming_movie .slick-prev,
.movie_trailers .slick-prev {
	left: -5px;
	top: 50%;
	transform: translateY(-50%);
}
.main_container .slick-prev:before {
	position: absolute;
	content: "";
	top: 6px;
	left: 8px;
	border-right: 13px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
	
}
.main_container .slick-next:before {
	position: absolute;
	content: "";
	top: 7px;
	left: 8px;
	border-left: 13px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
/*full section css end*/
/*banner css start*/
#banner_slider1 {
	margin: 0;
}
#banner_slider1 .slick-slide {
	position: relative;
}
.banner_lay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.63);
	color: #fff;
	padding: 10px 20px;
	bottom: -300px;
	transition: all 0.7s linear;
}
#banner_slider1 .slick-current > .banner_lay {
/*	transform: translateY(-120px);*/
	bottom: 0;
}
.banner_lay h4 {
	color: #ffce00;
	font-size: 20px;
	font-weight: 700;
}
.banner_lay p {
	font-size: 12px;
	color: #fff;
}
.banner_lay p a {
	text-decoration: none;
	color: #d5ac01;
}
#banner_slider2 .slick-slide {
	position: relative;
	z-index: 1;
}
#banner_slider2 .slick-slide:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(242, 239, 231, 0.6);
	z-index: 0;
	transition: all 0.3s linear;
	
}
#banner_slider2 .slick-slide:hover {
	cursor: pointer!important;
}
#banner_slider2 .slick-slide:hover:before,
#banner_slider2 .slick-current:before
{
	background-color: inherit!important;
}
#banner_slider2 .slick-slide {
	position: relative;
	height: 85px;
	overflow: hidden;
}
#banner_slider2  .slick-slide img {
	width: auto;
	height: 100%;
	top: 0;
	left: 0;
}
.sl {
	height: 400px;
	overflow: hidden;
}
.sl img {
	height: 100%;
	width: auto;
}
/*banner css end*/
.home_gallery h2,
.movie_trailers h2,
.upcoming_movie h2,
.movie_news h2 {
	text-transform: uppercase;
	font-weight: 300;
	color: #ba0000;
	padding: 40px 0 19px;
	font-size: 38px;
}
/*movie trailer css start*/
/*.movie_top_details .right_img,*/
.trailersld li {
	position: relative;
	z-index: 1;
	margin: 0 6px;
}
.right_img {
	height: 236px;
	overflow: hidden;
}

.right_img .trailer_lay,
.trailersld li div {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.62);
	z-index: 0;
	transition: all 0.3s linear;
}
.right_img .trailer_lay img,
.trailersld li div img {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translateY(-50%) translateX(-50%);
	transition: all 0.3s linear;
}
.right_img:hover .trailer_lay,
.right_img:hover .trailer_lay img,
.trailersld li:hover .trailer_lay,
.trailersld li:hover .trailer_lay img {
	opacity: 1;
	cursor: pointer;
}
.img_hbr {
	height: 148px;
	overflow: hidden;
}
.trail_img {
	width: auto;
	height: 100%;
}
/*vieo model */
.modal-body {
	padding: 10px;
    background-color: #f2f2f2;
}
.modal {
	top: 100px;
	left: 0;
}
.close {
    position: absolute;
    font-size: 27px;
    right: 20px;
    top: 13px;
    color: white;
    z-index: 22;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
.close:hover {
	color: #fff;
	opacity: 1;
}
.modal-dialog {
	width: 820px;
}
.modal-dialog iframe {
	width: 100%;
}
/*vieo model */

/*movie trailer css end*/
/*upcoming movie css start*/
.upcoming {
	margin-bottom: 80px;
}
.upcoming li {
	position: relative;
	z-index: 1;
	margin: 0 6px;
}
.upcoming_lay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.62);
	z-index: 0;
	transition: all 0.3s linear;
}
.upcoming_lay a {
	color: #000;
	position: absolute;
	text-decoration: none;
	background-color: #ffce00;
	padding: 8px 10px;
	font-size: 12px;
	font-weight: 700;
	top: 44%;
	left: 24%;
}
.upcoming li:hover .upcoming_lay,
.upcoming li:hover .upcoming_lay a {
	opacity: 1;
	cursor: pointer;
}
.upcoming li {
	height: 234px;
	overflow: hidden;
}
.upcoming li img {
	height: 100%;
	width: auto;
}
/*upcoming movie css end*/
/*movie news css start*/
.movie_news .col-md-4 {
	padding-left: 5px;
	padding-right: 5px;
}
.news_item {
	width: 100%;
	border: 1px solid #cecece;
	margin-bottom: 12px;
	padding: 4px;
	transition: all 0.3s linear;
}
.news_item:hover {
	border-color: #ba0000;
	
}
.news_item .news_details{
	padding: 5px;
}
.news_item .news_details h3 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	transition: all 0.2s linear;
}
.news_item .news_details h3:hover {
	color: #ba0000;
}
.news_item .news_details p{
	font-size: 12px;
	color: #000;
	padding-top: 3px;
	margin-bottom: 2px;
}
.news_item .news_details a{
	font-size: 12px;
	color: #ba0000;
	text-decoration: none;
}
.news_item img {
	width: 100%;
}
.next_prev {
	padding-bottom: 40px;
}
.next_prev ul, .next_prev li {
	display: inline-block;
}
.next_prev #news_prev a,
.next_prev #news_next a,
.next_prev #news_jump a,
.next_prev ul li a {
	background-color: #dcdcdc;
	font-size: 12px;
	padding: 5px;
	text-decoration: none;
	color: #000;
}
.next_prev #news_prev a:hover,
.next_prev #news_next a:hover,
.next_prev #news_jump a:hover,
.next_prev ul li a:hover,
.next_prev ul li a:focus
{
	background-color: #ffce00;
}
.news_img {
	height: 144px;
	overflow: hidden;
}
.news_img img {
	height: 100%;
	width: auto;
}
.news h2 {
	padding: 0 0 19px;
}
.blog_hide,
.photo_hide,
.video_hide,
.com_hide,
.itm_hide,
.news_load {
	display: none;
}
.next_button {
	padding-left: 6px;
	padding-right: 6px;
}
.blog_next_button {
	padding-left: 0;
	padding-right: 0;
}
.blog_next_button a,
.next_button a {
	display: block;
	background-color: #ba0000;
	padding: 14px 0;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.latest_movie h2 {
    font-family: 'CharukolaUltraLight', Roboto, sans-serif !important;
	font-size: 38px;
	color: #ba0000;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 19px;
}
/*movie news css end*/
/*sidebar css start*/

.storise {
	padding-bottom: 35px;
	transform: rotate()
}
.sidebar {
	padding-right: 0;
}
.sidebar h2 {
	font-size: 20px;
	color: #ba0000;
	border-bottom: 1px solid #ba0000;
	text-transform: uppercase;
	font-weight: 900;
	padding-bottom: 6px;
	margin-bottom: 26px;
	margin-left: 15px;
}
.storise h4 {
	font-size: 15px;
	color: #000;
	font-weight: 700;
	padding-bottom: 3px;
}
.storise_item {
	padding: 15px;
	margin-bottom: 3px;
	transition: all 0.3s linear;
}
.storise_item:hover {
	background-color: #d8d8d8;
	
}
.storise p {
	font-size: 12px;
	color: #000;
	margin-bottom: 2px;
} 
.storise h6 {	
	
} 
.storise h6 a{	
	color: #ba0000;
	font-size: 12px;
	text-decoration: none;
} 
.box_office_item {
	margin-left: 28px;
}
.box_office_item ol li {
	list-style-type: decimal;
	font-size: 14px;
	color: #000;
}
.box_office_item ol li a {
    text-decoration: none;
    color: black;
}
.box_office_item ol li a:hover {
    color: #ba0000;
}
.box_office_item ol li span{
	font-weight: 500;
	padding-right: 50px;
}
.box_office_item ol {
	margin-bottom: 35px;
}
.editors_cont {
	padding-bottom: 35px;
}
.editors_item {
	padding: 15px 0 15px 15px;
}
.editors_item:hover {
	background-color: #ebebeb;
}
.editors_image,
.editors_details {
	float: left!important;
}
.editors_details {
	width: 150px!important;
	padding-left: 10px!important;
}
.editors_details h4 {
	font-size: 15px;
	color: #000;
	font-weight: 700;
	padding-bottom: 17px;
}
.editors_details h6 a {
	color: #ba0000;
	text-decoration: none;
}
.editors_details h4 {
	width: 200px!important;
}
.editors_image {
	height: 88px;
	width: 87px;
	overflow: hidden;
}
.editors_image img {
	height: 100%;
	width: auto;
}
/*sidebar css end*/
/*movies css end*/
.latest_items {
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 12px;
}
.latest_item {
	position: relative;
	z-index: 1;
}
.latest_layer {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.62);
	z-index: 0;
	transition: all 0.3s linear;
}
.latest_layer a {
	color: #000;
	position: absolute;
	text-decoration: none;
	background-color: #ffce00;
	padding: 8px 10px;
	font-size: 12px;
	font-weight: 700;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.latest_items:hover .latest_layer {
	opacity: 1;
}
.latest_item {
	height: 298px;
	overflow: hidden;
}
.latest_item img {
	height: 100%;
	width: auto;
}
/*movies css end*/
/*news individual css start*/
.news_container {
	padding-left: 0;
	padding-right: 0;
}
.news_share ul,
.news_share li {
	display: inline-block;
}
.news_share ul li a i {
	font-size: 30px;
}
.news_full figure {
	margin: 0;
}
#news_full_heading h2 {
	font-size: 38px;
	font-weight: 300;
	color: #ba0000;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 15px;
}
#news_full_details p {
	color: #000;
	font-size: 14px;
}
.news_share {
	margin-top: 30px;
	margin-bottom: 30px;
}
#news_share_icon {
	margin-left: 55px;
}
.news_share {
	position: relative;
}
.news_share span {
	position: absolute;
	font-size: 14px;
	color: #000;
	top: 6px;
	left: 0;
	font-weight: 700;
}
.news_commend h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	margin-bottom: 10px;
}
.news_commend h5 {
	font-size: 14px;
	font-weight: 400;
	color: #ba0000;
	margin-bottom: 45px;
}
.news_comment_form {
	position: relative;
	padding-top: 10px;
	padding-bottom: 40px;
}
.news_comment_form textarea {
	padding: 14px 11px;
	border: 1px solid #cecece;
	color: #919190;
	font-size: 14px;
	font-weight: 400;
	width: 750px;
	height: 50px;
	transition: all 0.4s linear;
}
.news_comment_form textarea:hover {
	height: 200px;
}
.news_comment_form a {
	position: absolute;
	text-decoration: none;
	color: #fefefe;
	font-weight: 700;
	top: 10px;
	right: 0;
	font-size: 14px;
	display: inline-block;
	background-color: #ba0000;
	padding: 15px 30px;
	text-transform: uppercase;
	margin-left: 10px;
}
.comment_item h4 {
	font-size: 12px;
	margin-bottom: 10px;
	position: relative;
	margin-left: 24px;
}
.comment_item h4 i {
	color: #acacac;
	position: absolute;
	top: -3px;
	left: -23px;
	font-size: 20px;
}
.comment_item h4 span {
	color: #000;
	font-weight: 700;
	font-size: 14px;
}
.comment_part p {
	font-size: 14px;
	color: #000;
	font-weight: 400;
	margin-bottom: 40px;
}
.zoom-effect .zoomOverlay {
	background: rgba(0, 0, 0, 0.63);
}
/*news individual css end*/
/*gallery css start*/
.home_gphoto .photos_items {
	width: 100%!important;
}
.home_gphoto .slick-next {
	right: -5px;
}
.home_gphoto .slick-prev {
	left: -5px;
}
.photo_gallery h2 {
	font-size: 38px;
	font-weight: 300;
	color: #ba0000;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.videos_items,
.photos_items {
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 12px;
}
.video_img,
.photo_img {
	height: 210px;
	overflow: hidden;
}
.video_img .vd_mn_img,
.photo_img img {
	height: 100%;
	width: auto;
}
.home_gallery .photo_item {
	margin-bottom: 12px;
}
.video_item,
.photo_item {
	padding: 4px;
	border: 1px solid #cecece;
}
.video_details p,
.photo_details p {
	font-size: 12px;
	color: #000;
	font-weight: 400;
	padding-top: 10px;
	text-align: center;
}
.video_img,
.photo_img {
	position: relative;
}
.video_lay,
.photo_lay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.62);
	transition: all 0.3s linear;
}
#cboxLoadedContent {
	max-width: 9200px;
	overflow: hidden!important;
	border: 10px solid #fff;
}
#cboxPrevious {
	background-color: #aaaaaa;
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
	width: 25px;
	margin: 0;
    height: 24px;
}
#cboxCurrent {
	display: none!important;
}
#cboxPrevious:before {
	position: absolute;
	content: "";
	top: 4px;
	left: 5px;
	border-right: 13px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
#cboxNext {
	background-color: #aaaaaa;
	top: 50%;
	right: 18px;
	transform: translateY(-50%);
	width: 25px;
	margin: 0;
    height: 24px;
}
#cboxNext:before {
	position: absolute;
	content: "";
	top: 4px;
	right: 5px;
	border-left: 13px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
#cboxClose {
    background-image: url(../images/close.png);
    top: 15px;
    height: 28px;
    background-size: 22px;
    right: 14px;
	opacity: 0.7;
	background-position: bottom center;
	transition: all 0.1s linear;
}
#cboxClose:hover {
     opacity: 1;
}
#cboxLoadedContent img {
	height: 100%;
	width: auto;
}
.video_lay img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	
}
.video_img:hover .video_lay,
.video_img:hover .video_lay img,
.photo_img:hover .photo_lay {
	cursor: pointer;
	opacity: 1;
}
/*gallery css end*/
/*blog css end*/
.blog_heading {
	padding: 0;
}
.blog_heading h2 {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ba0000;
	margin-bottom: 19px;
}
.blog_hide {
	padding: 0;
}
.blog_item {
	border: 1px solid #cecece;
	padding: 5px;
	margin-bottom: 12px;
	transition: all 0.3s linear;
}
.blog_item:hover {
	border-color: #ba0000;
}
.blog_thumbnail {
	float: left;
	width: 20%;
}
.blog_details {
	float: left;
	width: 80%;
	padding-left: 20px;
}
.blog_thumbnail {
	height: 141px;
	width: 162px;
	overflow: hidden;
}
.blog_thumbnail img {
	height: 100%;
	width: auto;
}
.blog_details h4 {
	font-size: 20px;
	font-weight: 700;
	line-height: 0.9;
	margin-bottom: 10px;
}
.blog_details a {
	color: #000;
	text-decoration: none;
	transition: all 0.2s linear;
}
.blog_details a:hover {
	color: #ba0000;
	
}
.blog_details h5 {
	font-size: 14px;
	color: #3a3a3a;
	font-weight: 400;
	margin-bottom: 15px;
}
.blog_details h5 span {
	font-weight: 700;
}
.blog_details p {
	margin-bottom: 14px;
	font-size: 14px;
	color: #000;
	font-weight: 400;
	line-height: 1.3;
}
.blog_details h6 {}
.blog_details h6 a {
	font-size: 14px;
	color: #ba0000;
	font-weight: 400;
	text-decoration: none;
}
/*blog css end*/
/*login registar css start*/
.login_part h2 {
	font-size: 38px;
	color: #ba0000;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 19px;
}
.login_part input {
	margin-bottom: 12px;
	border: 1px solid #cecece;
	color: #919190;
	font-size: 14px;
	font-weight: 400;
	padding: 14px 11px;
	width: 560px;
	height: 30px;
}
.login_part label {
	width: 118px;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
.login_part button {
	text-decoration: none;
	color: #fefefe;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	background-color: #ba0000;
	padding: 0px 20px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-left: 121px;
	margin-top: 25px;
	margin-bottom: 100px;
}
.registration_part h2,
.reg_part h2 {
	font-size: 38px;
	color: #ba0000;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 19px;
}
.registration_part form h2 {
	margin-top: 30px;
}
.reg_part textarea {
	margin-bottom: 12px;
	border: 1px solid #cecece;
	color: #919190;
	font-size: 14px;
	font-weight: 400;
	width: 560px;
	padding: 14px 11px;
	height: 100px;
	margin-left: 122px;
}
.text_area {
	position: absolute;
bottom: 119px;
}
.registration_part input,
.reg_part input
{
	margin-bottom: 12px;
	border: 1px solid #cecece;
	color: #919190;
	font-size: 14px;
	font-weight: 400;
	height: 30px;
	padding: 14px 11px;
	width: 560px;
}
.reg_part input[type="checkbox"]{
	width: inherit;
	margin-left: 121px;
	margin-right: 6px;
	height: inherit;
}
.registration_part input[type="checkbox"] {
	width: inherit;
	margin-left: 20px;
	margin-right: 3px;
	height: inherit;
}
.registration_part label,
.reg_part label {
	width: 118px;
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
.registration_part input[type="file"] {
	border: inherit;
	display: inline-block;
	padding: 0;
	width: inherit;
}
.registration_part button,
.reg_part button {
	text-decoration: none;
	color: #fefefe;
	font-weight: 700;
	font-size: 14px;
	display: inline-block;
	background-color: #ba0000;
	padding: 0px 12px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-left: 121px;
	margin-top: 0px;
	margin-bottom: 40px;
}

.reg_checkbox {
	position: relative;
}
.check_text {
	position: absolute;
	color: #404040;
	font-size: 12px;
	font-weight: 400;
	top: 3px;
}
.reg_privicy {
	position: absolute;
	right: 430px;
	font-size: 12px;
	top: 3px;
}
.reg_privicy a {
	color: #ba0000;
	
}
.input_warning {
	padding-left: 13px;
	font-size: 14px;
	font-weight: 400;
	color: #ba0000;
}
.login_forget_pass {
	position: relative;
}
.login_forget_pass span {
	position: absolute;
	right: 430px;
	top: 3px;
	font-size: 12px;
}
.login_forget_pass span a {
	color: #ba0000;
}
#elementary,
#school,
#college
 {
	width: 388px!important;
}
#pass_year {
	width: 140px!important;
}
/*login registar css end*/
/*movie individual css end*/
.movie_top_left figure {
	margin: 0
}
.movie_top_left {
	padding-left: 0;
	padding-right: 0;
}
.movie_top_right {
	padding-right: 0;
	padding-left: 20px;
}
.movie_top_details {
	height: 186px;
	overflow: hidden;
}
.movie_top_details h2 {
	font-size: 38px;
	font-weight: 300;
	color: #ba0000;
	text-transform: uppercase;
}
.movie_top_details h5 {
	font-size: 14px;
	color: #ba0000;
	padding-top: 2px;
}
.movie_top_details p {
	color: #000;
	font-size: 14px;
	    line-height: 1.2;
    margin-top: 15px;
	margin-bottom: 15px;
}
.movie_top_details h6 {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	line-height: 1.5;
}
.movie_top_details h6 span {
	font-weight: 700;
}
.right_img {
	position: relative;
	z-index: 1;
}
.movie_storyline h2 {
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 38px;
	color: #ba0000;
	font-weight: 300;
}
.movie_storyline p {
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
.movie_lead h2 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 38px;
	color: #ba0000;
	font-weight: 300;
}
.movie_lead_list ul {
	display: inline-block;
	margin-right: 40px;
	
}
.movie_lead_list ul li {
	font-size: 14px;
	color: #000;
	font-weight: 400;
}
.movie_share ul,
.movie_share li {
	display: inline-block;
}
.movie_share {
	margin-top: 30px;
	
}
.movie_s_i {
	margin-left: 55px;
}
.movie_s_i li i {
	font-size: 30px;
}
.movie_share {
	position: relative;
}
.movie_share span {
	position: absolute;
	font-size: 14px;
	color: #000;
	top: 6px;
	left: 0;
	font-weight: 700;
}
/*movie individual css end*/
/*footer css start*/
/*footer1*/
.footer1 {
	background-color: #000;
	padding: 25px 0;
	position: relative;
}
.bttop {
	position: absolute;
	top: -30px;
	right: 210px;
	opacity: 0.7;
	transition: all 0.3s linear;
}
.bttop:hover {
	cursor: pointer;
	opacity: 1;
}
.footer1 ul li a {
	color: #ffce00;
	text-decoration: none;
	font-size: 12px;
	text-transform: capitalize;
}
.footer1 i {
	font-size: 18px;
}
/*footer2*/
.footer2 {
	background-color: #ffce00;
	padding: 11px;
}
.footer2 h5 {
	color: #010101;
	font-size: 12px;
}

/*footer css end*/